<section class="splash-container">
  <div class="svg">
    <h1 class="flex bg-heading">JXpense</h1>
    <%= image_tag "splashsvg.svg", class: "img-width" %>
  </div>
  <div class="svg">
    <p class="md-txt">
      Welcome to your personal budget app JXpense
    </p>
    <p class="sm-txt">
		 JXpense is a web-based mobile application that helps you keep track of your expenses and income. No install required, and very user friendly
    </p>
  </div>
  <div class="side">
    <%= link_to "Get started", splash_path, class: "txt-bg-color" %>
  </div>
</section>