<section class="page-position">
  <div class="svg">
    <h1 class="flex bg-heading">Quickscan</h1>
    <%= image_tag "splashsvg.svg", class: "img-width" %>
  </div>
  <div class="svg">
    <p class="md-txt">
      Welcome to your personal budget app
    </p>
    <p class="sm-txt">
      This is a mobile application that allows you to keep track of your expenses and income
    </p>
  </div>
  <div class="side">
    <%= link_to "Get started", splash_path, class: "txt-bg-color" %>
  </div>
</section>