<section class="splash-container">
  <div class="svg">
    <h1 class="flex bg-heading">JXpense</h1>
    <%= image_tag "logo-dark.png", class: "img-width" %>
  </div>
  <div class="main-splash">
    <%= link_to "Sign up", new_user_registration_path, class: "txt-bg" %>
    <%= link_to "Log in", new_user_session_path, class: "txt-bg-color" %>
  </div>
</section>