<section class="container page-position" >
  <div class="dp-flex" >
    <div>
      <h1 class="flex bg-heading">Quickscan</h1>
    </div>
  </div>

  <div class="flex">
    <%= link_to "LOG IN", new_user_session_path, data: {disable_with: "login..."}, class: "btn-blue mb-2 py-3" %>
    <%= link_to "SIGN UP", new_user_registration_path, data: {disable_with: "signing..."}, class: "btn-light btn-outline-secondary py-3 mb-5" %>
  </div>
</section>