/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

:root {
  --red-color: #e01e5a;
  --yellow-color: #ecb22e;
  --blue-color: #36c5f0;
  --green-color: #2eb67d;
  --black-color: #555e77;
  --bg-color: #fdfdfd;
  --white-color: #fff;
  --form-color: #f1f1f1;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  color: var(--black-color);
  background-color: var(--bg-color);
}

.dp-flex {
  margin: 3rem auto 0;
  display: flex;
  flex-direction: column;
  row-gap: 15rem;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bold,
h1 {
  font-weight: bold;
  text-align: center;
}

.devise-class {
  padding: 15px 0;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.page-position {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.b {
  margin-top: auto;
}

.sign-card {
  background-color: var(--form-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 55px 25px;
}

.sign-wrap {
  min-height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.signup-btn {
  background-color: var(--blue-color);
  border: none;
  width: 100%;
  color: var(--white-color);
}

.dark-text {
  color: var(--black-color);
  font-size: 18px;
  margin-right: 15px;
}

.flot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.group {
  display: flex;
  width: 100%;
}

.icon-input {
  background-color: var(--blue-color);
  opacity: 0.6;
  padding: 7px;
  border-radius: 1px;
  color: var(--white-color);
}

.email-move {
  border: none;
  padding-left: 10px;
  width: 100%;
  border-radius: 2px;
}

.email-move:focus {
  border: none;
  outline: none;
}

.text-center {
  text-align: center;
}

.white-text {
  color: var(--white-color);
}

.blue-text {
  color: var(--blue-color);
}

.green-text {
  color: var(--green-color);
}

.yellow-text {
  color: var(--yellow-color);
}

.red-text {
  color: var(--red-color);
}

.bold-text {
  font-weight: bold;
}

.md-txt {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  padding: 0 40px;
}

.sm-txt {
  text-align: center;
  padding: 0 40px;
}

.xl-heading {
  text-align: center;
  font-size: 22px;
}
