/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Manrope:wght@400;500;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}

:root {
	--red-color: #e01e5a;
	--yellow-color: #ecb22e;
	--blue-color: #36c5f0;
	--green-color: #2eb67d;
	--black-color: #555e77;
	--bg-color: #fdfdfd;
	--white-color: #fff;
	--form-color: #f1f1f1;
}

body {
	font-family: 'Manrope', sans-serif;
	line-height: 1.5;
	color: var(--black-color);
	background-color: var(--bg-color);
}

.App-container {
	width: 100vw;
	min-height: 100vh;
	background-color: #fff;
	padding: 0 20px;
}

.App-wrapper {
	max-width: 576px;
	background-color: #fff;
	margin: 0 auto;
}

.dp-flex {
	margin: 3rem auto 0;
	display: flex;
	flex-direction: column;
	row-gap: 15rem;
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bold,
h1 {
	font-weight: bold;
	text-align: center;
}

.devise-class {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 30px 0 30px;
	text-align: center;
}

a {
	text-decoration: none;
	color: var(--black-color);
}

a:hover {
	text-decoration: none;
	color: var(--black-color);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.page-position {
	max-width: 560px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding-bottom: 2rem;
}

.b {
	margin-top: auto;
}

.sign-card {
	background-color: var(--form-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 55px 25px;
}

.sign-wrap {
	min-height: 100vh;
	background-color: var(--bg-color);
}

.signup-btn {
	background-color: var(--blue-color);
	border: none;
	width: 100%;
	color: var(--white-color);
}

.signup-btn-dark {
	background-color: var(--black-color);
	border: none;
	width: 100%;
	color: var(--white-color);
}

.dark-text {
	color: var(--black-color);
	font-size: 18px;
	margin-right: 15px;
}

.group {
	width: 100%;
}

.icon-input {
	background-color: var(--blue-color);
	opacity: 0.6;
	padding: 7px;
	border-radius: 1px;
	color: var(--white-color);
}

.email-move {
	border: none;
	padding: 8px 8px 8px 10px;
	width: 100%;
	border-radius: 2px;
	font-size: 15px;
}

.search-input {
	border: 1px solid var(--blue-color);
	padding: 8px 8px 8px 10px;
	width: 100%;
	border-radius: 2px;
	font-size: 15px;
}

.email-move:focus {
	border: none;
	outline: none;
}

.search-input:focus {
	border: 1px solid var(--blue-color);
	outline: 1px solid var(--blue-color);
}

.search-btn {
	background-color: var(--blue-color);
	border: none;
	width: 40%;
	color: var(--white-color);
}

.all-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
}

input::placeholder {
	display: none;
	font-size: 15px;
	padding: 5px;
}

.text-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.text-left {
	text-align: left;
	padding-left: 25px;
	margin-bottom: 1rem;
}

.text-right {
	text-align: right;
}

.white-text {
	color: var(--white-color);
}

.blue-text {
	color: var(--blue-color);
}

.green-text {
	color: var(--green-color);
}

.yellow-text {
	color: var(--yellow-color);
}

.red-text {
	color: var(--red-color);
}

.black-text {
	color: var(--black-color);
	/* font-size: 12px; */
}

.logout-text {
	color: var(--black-color);
	font-size: 20px;
	text-decoration: underline;
}

.bold-text {
	font-weight: bold;
}

.light-text {
	color: #ccc;
	font-size: 12px;
}

.md-txt {
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	padding: 0 40px;
}

.sm-txt {
	text-align: center;
	padding: 0 40px;
	font-size: 12px;
}

.xl-heading {
	text-align: center;
	font-size: 15px;
}

.xxl-heading {
	text-align: center;
	font-size: 20px;
}

.error-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: left;
	font-size: 15px;
	gap: 4px;
}

.error-page {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
