// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cat-wrap {
	max-width: 560px;
}

.category-card {
	display: flex;
	column-gap: 2rem;
	padding: 15px 0;
	align-items: center;
	border-bottom: 1px solid rgba($color: #ccc, $alpha: 0.155);
	justify-content: space-between;
}

.category-cardp {
	margin: 0 0 2rem;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	padding: 15px 20px;
	box-shadow: 1px 0 4px var(--blue-color);
}

.colored-bg-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	margin-bottom: 30px;
}

.colored-bg {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	padding: 13px;
	box-shadow: 1px 1px 6px rgba($color: #ccc, $alpha: 0.3), -1px -1px 3px rgba($color: #ccc, $alpha: 0.3);
}

.reset {
	display: flex;
	column-gap: 0.2rem;
}

.cat-pro {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cat-list {
	a {
		color: var(--black-color);
	}
}

.category-flex {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.category-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 1rem;
}

.cat-product {
	display: flex;
	flex-direction: column;
}

.icon-wrapper {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.icon-wrapper-normal {
	background-color: #8e7dbe;
}
.icon-wrapper-N {
	background-color: #624cab;
}
.icon-wrapper-F {
	background-color: #c8963e;
}
.icon-wrapper-S {
	background-color: #9bd1e5;
}
.icon-wrapper-M {
	background-color: #758ecd;
}
.icon-wrapper-H {
	background-color: rgb(29, 205, 29);
}
.icon-wrapper-C {
	background-color: #b96ac9;
}
.icon-wrapper-A {
	background-color: #d7bce8;
}
.icon-wrapper-I {
	background-color: #679436;
}

.icon {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.icon-normal {
	background-color: #f1e3d3;
}
.icon-N {
	background-color: #7189ff;
}
.icon-F {
	background-color: #e3c567;
}
.icon-S {
	background-color: #d1faff;
}
.icon-M {
	background-color: #c1cefe;
}
.icon-H {
	background-color: aquamarine;
}
.icon-C {
	background-color: #e980fc;
}
.icon-A {
	background-color: #fde2ff;
}
.icon-I {
	background-color: #a5be00;
}

.btn {
	width: 100%;
	background-color: var(--secondary-color);
	color: var(--text-color);
	font-size: 20px;
	border: 1px solid var(--bg-card);
}

.user-icon {
	height: 40px;
	width: 40px;
	font-size: 25px;
	border-radius: 50%;
	border: 1px solid var(--blue-color);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--blue-color);
}

.add-icon {
	height: 25px;
	width: 25px;
	font-size: 15px;
	color: var(--white-color);
	border-radius: 50%;
	border: 1px solid var(--blue-color);
	background-color: var(--blue-color);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.md-heading {
	font-size: 15px;
	font-weight: bold;
}

.close {
	padding: 30px 0;
}

.close a {
	font-size: 20px;
	color: var(--black-color);
}

.close a:hover {
	color: var(--blue-color);
}

.cat-card {
	border-bottom: 1px solid rgba($color: #ccc, $alpha: 0.155);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	row-gap: 2rem;
	padding-bottom: 30px;
}

.cat-first-grid, .cat-second-grid, .cat-third-grid {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
}

.cat-third-grid {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.cat-first-inner-grid, .cat-third-inner-grid {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.cat-second-inner-grid {
	display: flex;
	align-items: center;
	gap: 10px;
	border-radius: 3px;
	padding: 13px;
	box-shadow: 1px 1px 6px rgba($color: #ccc, $alpha: 0.3), -1px -1px 3px rgba($color: #ccc, $alpha: 0.3);
}

.group select {
	width: 100%;
}

.group select > option {
	width: 100%;
	text-align: center;
	margin: 20px auto;
	background-color: var(--black-color);
	color: var(--blue-color);
	padding: 10px 0;
}

.group select > option:first-child {
	background-color: var(--form-color);
	color: var(--black-color);
	margin: 0;
	padding: 0;
}

.link-icon {
	color: var(--white-color);
}

.date-format {
	width: 100%;
	padding: 10px 0;
	background-color: rgba($color: #fafafa, $alpha: 0.3);
}

.counter-red {
	color: var(--red-color);
}

a.category-link {
	color: var(--black-color);
	font-size: 15px;
	font-weight: 400;
	text-decoration: underline;
}

.sub-heading-text {
	font-size: 18px;
	font-weight: 700;
}

.sm-heading-text {
	font-size: 13px;
}

// Progess bar
.progress-bar-wrapper {
  width: 100%;
  height: 6px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
}

.progress-line {
  height: 100%;
}

.progress-line.normal {
	background-color: var(--blue-color);
}

.progress-line.overspent {
	background-color: var(--red-color);
}



