<div class="sign-wrap">
 <h3 class="md-heading text-center mb-3">CREATE CATEGORY</h3>
  <div class="fs-4 sign-card">
    <%= form_with model: @category, method: :post, local: true do |f| %>

      <div class="group mb-3">
        <span class="icon-input"><%= fa_icon "user" %></span>
        <%= f.text_field :name, required: true, placeholder: "Name", autofocus: true, autocomplete: "name", class: "email-move" %>
      </div>
      <%= f.submit "ADD", data: {disable_with: "Adding..."}, class: "signup-btn my-4 py-2" %>
    <% end %>
  </div>
</div>