<section>
  <div class="devise-class">
    <div class="d-flex justify-content-around align-items-center">
      <span class="nav-item">
        <%= link_to categories_path do %>
          <i class="fas fa-chevron-left text-white"></i>
        <% end %>
      </span>
      <h3 class="md-heading text-center">CREATE CATEGORY</h3>
    </div>
  </div>
  <%= render "form" %>
</section>