<div class="close">
	<%= link_to categories_path do %>
		<i class="fas fa-arrow-left"></i>
	<% end %>
</div>
<div class="d-flex justify-content-center flex-column align-items-start gap-2">
	<h3>
		<%= link_to "Update account", edit_user_registration_path, class: "logout-text"%>
	</h3>
	<h3>
		<%= link_to "Logout", destroy_user_session_path, method: :delete, class: "logout-text"  %>
	</h3>
</div>